## large wind turbines at nwtc

In [14]:
import numpy as np
import pandas as pd

In [27]:
turbines = {}
turbines['WTG'] = ["GE", "ALSTOM", "CART3", "CART2", "SIEMENS", "GAMESA"]
turbines['YearErected'] = [2009, np.nan, np.nan, np.nan, 2009, 2011]
turbines['HubHeight'] = [80.0, 90.0, 37.0, 37.0, 80.0, 90.0]
turbines['RotorDiameter']= [77.0, 110.0, 40.0, 43.3, 108.0, 97.0]
turbines['Latitude'] = [39.912106, 39.910362, 39.908971, 39.907813, 39.906051, 39.905083]
turbines['Longitude'] = [-105.220018, -105.221053, -105.222725, -105.223313, -105.222878, -105.227054]

In [29]:
pd.DataFrame.from_dict(turbines).set_index('WTG')

         HubHeight   Latitude   Longitude  RotorDiameter  YearErected
WTG
GE            80.0  39.912106 -105.220018           77.0       2009.0
ALSTOM        90.0  39.910362 -105.221053          110.0          NaN
CART3         37.0  39.908971 -105.222725           40.0          NaN
CART2         37.0  39.907813 -105.223313           43.3          NaN
SIEMENS       80.0  39.906051 -105.222878          108.0       2009.0
GAMESA        90.0  39.905083 -105.227054           97.0       2011.0